@media(max-width: 992px){

        .collapse:not(.show) {
            display: block!important;
        }
        .navbar-heading,.d-flex{
            display: none !important;
        }
        .btn-menu{
            float: right;
        }
        .dropdown-content1{
            display: none;
        }
        .dropbox{
            display:none;
        }
        .head-nav{
            display: none;
        }
        .mobile-menu{
            display: block !important;
        }
        .grid-col{
            display: block !important;
        }
        .plan-div{
            width: 100%;
            margin-bottom: 20px;
        }
        .customize-workflow{
            width: 90% !important;
            margin-left: 5%;
        }
        .prising-box{
            padding: 40px 0 0 0 !important;
            width: 90%;
            margin-left: 5%;
        }
}