body{
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 100%;
    
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

}
.head-nav{
    
    position:sticky;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    max-width: initial;
    top: 0;
}
@font-face {
    font-family: amerigo;
    src: url(../font/amerigo.TTF);
}
@font-face {
    font-family: Proximanova;
    src: url(../font/Proxima.otf);
}
.amerigo{
font-family: amerigo;
}
.comtainer-hi{
    padding: 110px 0 40px;
}
.margin-medium {
    margin: 0.9375rem;
}
.font-weight-400{
    font-weight: 400;
}
.navbar.navbar-expand-lg {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}
/* .navbar-nav li{
    margin-right: 30px;
    padding: 16px 12px 16px 0px;
   
} */
.head-nav li a{
    justify-content: space-between;
    color: #4c4d5f;
    font-size: 17px;
    font-weight: 400
}
.navbar-collapse{
    justify-content: space-between;

}
.navbar-brand{
    margin: 0 50px 0 0;
}
.navbar-brand img{
    vertical-align: middle;
    display: inline-block;
}
.navbar-heading{
   display: flex;
   align-items: center;
   
}
.navbar-heading li{
    list-style: none;
}
.navbar-heading>li{
    margin-right: 5%;
}

.nav-item img{
    margin: 0 5px;
}

.nav-item a{
    text-decoration:none;
}
.container-fluid{
    padding-right: calc(var(--bs-gutter-x) * 1.2) !important;
    padding-left: calc(var(--bs-gutter-x) * 1.2) !important;
}
.padding-8{
    padding: 8px;
}

.menu-templates-dropdown,.menu-product-dropdown{
display: none;
    z-index: 1;
    position: absolute;
   background-color: #fff;
   border-radius: 3px solid #444;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
   width: 300px;
    right: -80%;
   
}


#boder-bonsai{
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.box-x{
    padding: 30px 10px;
    margin: 0 30px;
}
.box-y{
   
    color: #292a2d;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 15px;
    margin: 5px 0;
    
}
.box-z{
    display: flex;
    padding: 2px;
    margin-left: 10px;
    color: #292a2d;
    font-size: 15px;
    line-height: 18px;
    padding: 16px;
}
.box-y:hover{
    background-color: rgba(0, 0, 0, 0.04);
}
.des-x{
    max-width: 90%;
    font-weight: 100;
}
.box-y img{
    margin: 10px;
}
.box-v{
    display: flex;
   
}
.box-v img{
    margin-right: 15px;
}
.des-y{
    color: #6d6d6d;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
}
.set-content-2{
    width: auto !important;
    padding: 20px;
}
.dropbox-2{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 100%;
    width: 400px;
    height: 100%;
    padding: 10px;  
    
}
.hidden-box{
    display: none;
} 
#db2, 
#db3, 
#db4, 
#db5, 
#db6,
#db7{
    z-index: 20;
    display: none
}
#dz1:hover #db1{
    display: block;
}
#dz2:hover #db2{
    display: block;
}
#dz3:hover #db3{
    display: block;
}
#dz4:hover #db4{
    display: block;
}
#dz5:hover #db5{
    display: block;
}
#dz6:hover #db6{
    display: block;
}
#dz7:hover #db7{
    display: block;
}
.title-dropbox-2{
    color: #292a2d;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 24px;
    white-space: nowrap;
}

.templates-box{
    background-image:url(../img/background-row.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 25px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
}
.see-all{
    color: #00a37e;
    text-align: center;
    font-size: 15;
    margin-bottom: 10px;
    padding: 20px 25px;
    font-weight: 600;
    align-items: center;
}
.dropbtn1 {
    background-color: #fff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: left;
    color: #4c4d5f;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: relative;
  }
  .dropbtn1 img{
      top:1px;
      padding-top: 3px;
  }
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    width: 400px;
    right: -50px;
    left: -150px;
  }
  
  .dropdown-content1 a {
    color: black !important;
    text-decoration: none;
    display: block;
    font-weight: 100 !important; 
  }
  
  
  
  .dropdown1:hover .dropdown-content1 {display: block;}
  .dropdown-content1>a:hover{
      background-color: rgba(0, 0, 0, 0.04);
  }
.dropdown-content1:hover .dropbox{
    display: flex;
}

.title-x{
    font-size: 1.3rem;
    font-weight: 350;
    line-height: 26px;
}

.dropbox{

    background-color: #fff;
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: 600px;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;  
}

.col-y{
    margin: 0 5px;

}

.nav-btn-1{
    margin-left: 17px;
    margin-right: 17px;
}
.nav-btn-1:hover{
    background-color: #00b289;
    color: #fff;
}

.nav-btn-2{
    color: #fff;
    background-color: #00b289;
}
.nav-btn-2:hover{
    background-color: #00a37e;
}


.btn-outline-success{
    position: relative;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .6px;
    text-transform: uppercase;
    padding: 12px 22px 9px;
    
}
.container{
    padding: 110px 0 40px;
    
}
.monthly-text{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.22px;
    text-transform: uppercase;
}
.yearly-text{
    opacity: .65;
    color: #4c4d5f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.22px;
    text-transform: uppercase;
}
.toggle-holder{
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    
}
.prising-title{
    display: flex;
    width: 100%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    max-width: 36rem;
}
.toggle-holder .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch {
    position: relative;
    
    width: 50px;
    height: 29px;
    margin-right: 28px;
    margin-left: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #01b289;

    transition: .4s;
  }
  
  .toggle-holder .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .toggle-holder input:checked + .slider {
    background-color: #01b289;
    
  }
  
  .toggle-holder input:focus + .slider {
    box-shadow: 0 0 1px #01b289;
  }
  
  .toggle-holder input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .toggle-holder .slider.round {
    border-radius: 34px;
  }
  
  .toggle-holder .slider.round:before {
    border-radius: 50%;
  }
  .toggle-holder .offer-img{
    position: absolute;
    left: auto;
    right: -9%;
    bottom: 15px;
}
.prising-box{
    padding-top: 40px;
    width: 100%;
    margin-top: 20px;
    padding: 40px 6.5rem 6.5rem;
  
}
.prising-box .heading-medium{
    font-size: 1.625rem;
    line-height: 1.4;
    font-weight: 600;
    color: #4c525a;
}
.prising-box .max-width-80{
    max-width: 100%;
}
 .prising-box .usd{
    position: relative;
    top: 10px;
    margin-right: 10px;
    align-self: flex-start;
    font-size: 30px;
    line-height: 28px;
    font-weight: 400;
 }
 .price-box-all{
    border-bottom: #01b289 solid 2px; 
 }
 .prising-box .price-box{
     display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    font-size: 62px;
    line-height: 72px;
    font-weight: 600;
    align-items: stretch !important;
    

 }
.price-box .price-monthly{
    line-height: 0.5rem;
    font-weight: 400;
    font-size: 1.625rem;
    margin: 0.9375rem;
 }
 .billed-yearly{
    font-size: 1rem;
    text-align: right;
    margin-bottom: 1.5px;
    display: none;
 }
 .plan-features-div{
    margin-bottom: 25px;
    padding-top: 40px;
 }
 .row{
     width: 100%;
 }
 .grid-col{
    display: flex;
    /* grid-template-columns: 32% 32% 32%; */
    grid-column-gap: 20px;
    overflow: hidden;

 }

 .plan-div{
    
    padding: 50px;
    width: 32%;
    padding-bottom: 10%;
    border-radius: 4px;
    background-color: #fbfcff;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    box-shadow: rgb(100 100 111 / 20%) 5px 7px 29px 5px;
    /* width: calc(calc(100% / var(--columns)) - var(--spacing)); */
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    float: left;
    border: .3px solid rgba(2,4,69,.15);
}


 .tick-div{
    display: flex;
    padding-bottom: 18px;
 }
 .tick-content{
     max-width: 70%;
 }
 .margin-tick{
    margin-right: 0.625rem;

 }
 .btn-start{

    width: 80%;
    padding: 22px 25px;
    border-radius: 4px;
    background-color: #00b289;
    text-align: center;
    position: absolute;
    bottom: 2%;
    right: 10%;
    bottom: 5%;
    
    
    /* margin-top: auto; */
   
 }
.btn-start a{
    color: #fff;
    font-weight: 700;
    letter-spacing: .7px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.btn-a{
    display: inline-block;
    padding: 9px 15px;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}
.popular-tag{
    position: absolute;
    left: auto;
    top: 46px;
    right: -140px;
    bottom: auto;
    width: 400px;
    padding: 11px 100px;
    background-color: #01b289;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.blue-shape._12 {
    top: -88%;
    left: -23%;
    width: 90%;
    height: 120%;
}
.blue-shape {
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: -1;
    display: block;
    width: 56vw;
    height: 56vw;
    border-radius: 6.6vw;
    background-color: #f2faff;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-23deg)
}

.customize-workflow{
    margin-top: 80px;
    width: 100%;
}
.text-custom{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8rem;
    line-height: 140%;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.add-on-box{
    margin-bottom: 20px;
    padding: 30px 40px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 60px 0 rgb(2 4 69 / 5%);
}
.add-on-box.smaller{
    margin-bottom: 10px;
    padding: 10px 40px 5px;
}
.title-add-on{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 600;
}
.des-add-on{
    font-size: 1rem;
    font-weight: 300;
}
.right-add-on{
    width: 20%;
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
    max-width: 600px;
    
}
.des-add-on{
    max-width: 80%;
    margin-bottom: 10px;
}
.add-on-price{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
    line-height: 130%;
    font-weight: 650;
}
.box-learn-more{
    display: flex;
}
.learn-more{
    color: #00a37e;
    font-weight: 600;
}
.learn-arrow{
    position: relative;
    top: -1px;
    margin-left: 6px;
}
.on-year{
    font-size: .875rem;
    line-height: 133%;
    font-weight: 500;
}
.section{
    padding: 40px 0;
}
.page-padding {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
.container-medium {
    width: 100%;
    max-width: 58rem;
    margin-right: auto;
    margin-left: auto;
}
.cta-div{
    display: flex;
    padding: 4rem 3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #f2faff;
}
.banner{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.75rem;
    line-height: 130%;
}
.text-color-green{
   color: #00b289;
}
.btn-start-2{
    float: left;
    width: auto;
    padding: 7px 15px;
    border-radius: 4px;
    background-image: linear-gradient(232deg,#00b289,#00a881);
    transition: background-color .4s;
    text-align: center;
    letter-spacing: .07em;
    text-transform: uppercase;
    font-size: 12;
    
}
.section-question{
    padding-top: 40px;
    padding-bottom: 40px;
}
.title-question{
    color: #00b289;
    text-align: center;
}
.margin-huge {
    margin: 2.5rem;
}
.accordion{
    margin-right: 9%;
    margin-left: 9%;
    background-image: url(../img/check.png);
    background-position: 100% 50%;
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 25px;
    line-height: 30px;
    cursor: pointer;
}
.accordion:hover{
    color: #00b289;
}
.paragraph{
    margin-right: 9%;
    margin-left: 9%;
    margin-top: 0;
    margin-bottom: 10px;
    color: #4c4d5f;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
}
#ac1, #ac2, #ac3, #ac4{
    display: none;
}
.footer{
    padding: 100px 16% 96px
}
.footer-link-holder{
    display: flex;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}
.footer-block{
    width: 30%;
}
.footer-title{
    margin-bottom: 40px;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .12px;
    text-transform: uppercase;
}
.footer-section-block{
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
    align-items: flex-start;
}
.footer-link{
    margin-bottom: 1px;
    color: #4c4d5f;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: .11px;
    text-decoration: none;
}

.dropdown-footer-list{
    height: auto;
    overflow: hidden;
    margin: 0 0 1px 8px;
    
}
.dd1, .dd2, .dd3, .dd4, .dd5, .dd6, .dd7{
    display: none;
}
.block-display{
    display: block;
}
/* MOBILE */
.mobile-menu{
    display: none;
    background-color: #fff;
    position: relative;
}
.box-mobile{
    display: block;
    position: relative;
    padding: 123px 40px 0;
    height: 5000px;
}
.nav-item-mobile{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #c3c3c3;
    align-items: center;
    font-size: 17px;
    line-height: 22px;
    justify-content: space-between;
}
.nav-item-mobile, a{
    text-decoration: none;
    color: #4c4d5f;

}
.nav-item-mobile img{
    float: right;
}
.btn-mobile a{
    text-decoration: none;
    color: #fff;
}
#login a{
    color: #00b289;
    
}
.btn-mobile{
    width: 100%;
    padding: 10px 0px;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    background-color: #00b289;
    text-align: center;
    position: relative;
    text-transform: uppercase;
   
    font-weight: 600;
}
#login{
    background-color: #fff ;
   
    border: 1px solid #00b289;;
    margin: 20px 0;
    
}
#login:hover {
    background-color: #00a37e;
   
}
#start:hover{
    background-color: #00a37e;
}
#login:hover a{
    color: #fff !important;
}
/* .dropdown-content-mobile{
    display: none;
} */
.nav-item-mobile:hover .dropdown-content-mobile{
    display: block;
}
.box-mobile{
  
}
.child-product{
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: #fff;
    padding: 40px 40px 0 40px;
}
.child-product a:hover{
    color: #4d4d4d;
}
.box-x-m{
    padding: 50px;
}
.title-x-m{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    color: #292a2d;
}
.headbar-mobile{
    padding: 25px 5% 20px 10%;
    margin: 0 10px;
}
.box-final{
    display: flex;
}
.box-8-link{
    display: none;
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding: 80px 17px 0 0px;
}
.box-final{
    display: flex;
    min-width: 300px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 4px;
}
.title-final{
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 15px;
    line-height: 18px;
    padding-top: 2px;
}
.box-final:hover{
    background-color: #fafafa;
}
.box-6-link{
   

    width: 100%;
    background-color: #fff;
    padding: 80px 17px 0 0px;
}
.box-6-link .title-final{
    font-size: 17px;
    font-weight: 300;
}